.search-input {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
}

.search-input input {
  width: 300px;
  height: 60px;
  font-size: 20px;
  padding-left: 50px;

  border-radius: 8px;
  border: none;
  background-color: rgb(242 244 248);
  letter-spacing: -1px;
}

.search-input input::placeholder {
  font-size: 20px;
  letter-spacing: -1px;
  color: black;
}

.search-input svg {
  position: absolute;
  align-self: center;
  padding-left: 20px;
}

.sort-button {
  background-color: rgb(242, 244, 248);
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.sort-button:hover {
  background-color: #c5c7c9; /* Lighten the background color on hover */
}
