.week-information {
  margin-top: 15px;
}

.week {
  font-weight: 400;
  font-size: 18px;
}

.list {
  display: flex;
  margin: 15px 0px;
  gap: 45px;

  overflow: auto;
  scroll-behavior: smooth;
}

.list::-webkit-scrollbar {
  height: 4px;
}

.list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.week-information-header {
  display: flex;
  justify-content: space-between;
}

.scroll-week-buttons {
  display: flex;
}

.scroll-button {
  width: 40px;
  height: 40px;
  background-color: rgb(242, 244, 248);
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 20px;
}
