.button {
  font-size: 18px;
  padding: 6px 12px;
  margin: 5px 5px 10px;

  background-color: #fff;

  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.primary {
  color: #fff;
  background-color: #178fff;

  border: 1px solid #178fff;
}
